<div>
  <form method="post" action="/message_board">
    <ul>
      <li>
        <input type="text" placeholder="Your Name" name="name">
      </li>
      <li>
        <textarea name="message" placeholder="Your Message (max. 300 chars)" rows="3">
        </textarea>
      </li>
      <li>
        <button type="submit">Submit</button> 
      </li>
    </ul>
  </form>
</div>

<div>
  <ul>
    <% @messages.each do |message| %>
    <li>
      <%= "#{message.name} @(#{message.date})"%><br>
      <%= message.message %>
    </li>
    <br>
    <% end %>
  </ul>
</div>
